<h1>Angular Demo汇总</h1>

<custom-input-component [(ngModel)] = "localText">
</custom-input-component>

<button (click)="changeLocalText()">Change local Text in the app component</button>

<p>Data shown in app: {{localText}} </p>

<parent></parent>
<child></child>

<attribute-demo [update] = "update"> </attribute-demo>

<div class = "error-handle-mechanism">
    <button (click)="errorEmitter()">throw navtive error</button>
    <button (click)="customErrorEmitter()">throw custom error</button>
    <button (click)="httpErrorEmitter()">throw native http error</button>
    <button (click)="customHttpErrorEmitter()">throw custom http error</button>
</div>
